# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# builds
frontend/public/bundle.js
frontend/build
backend/target

# Credentials
infrastructure/.aws

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.vs/
.idea

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

### Terraform ###
infrastructure/.terraform
infrastructure/*.tfstate.backup

# New backend
Thumbs.db
.DS_Store
.gradle
build/
target/
out/
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath